<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>ToDo List</title>
</head>
<body>
    <div class="card">
        <h1>ToDo List</h1>
        <form action="">
            <input type="text" id="ntask" name="ntask" placeholder="New Task"><br>
            <ul class="list">
                <li class="verified"><i class="check">&#x2714;</i> Planning <i class="remove">&#x2717;</i></li>
                <li><i class="check">&#x2714;</i> User interface <i class="remove">&#x2717;</i></li>
                <li><i class="check">&#x2714;</i> Front End <i class="remove">&#x2717;</i></li>
            </ul>
        </form>
    </div>
    <script src="script.js"></script>
</body>
</html>